table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  /* margin-left: 10%; */
  margin-top: 1%;
  float: right;
  margin-bottom: 5%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
